*{
    font-family: monospace;
}

body
{
    margin: 0;
}

header
{
    background-color: #2196f3;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1
{
    color: #2196f3;
    font-size: 30px;
}
header h1{
    margin: 0;
    color: white;
}
.yourpic
{
    font-size: 25px;
}
.button
{
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    

}
.button:hover
{

    background-color: darkblue;
    color: white;
}
a
{
    text-decoration: none;
}
img
{
    height: 200px;
}
main{
    padding: 20px;
    }
section
{
    height: 100vh;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit
{

    height: 40px;
    width: 140px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgb(46, 196, 255);
}
.submit:hover
{
    color: white;
   background-color:rgb(6, 109, 150); ;

}
input
{
    border-radius: 1px;
    border:solid lightgray;
    height: 25px;

}
.fixedbutton
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: #2196f3;


}
.fixedbutton:hover
{
    background-color: #073b65 ;
}
.abot
{
    font-size: 10px;
}
footer
{
    height: 124px;
    background-color: black;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
